:root {
  --primary-background-color: #171718;
  --secondary-background-color: #484848;

  --primary-foreground-color: #ff3a6f;
  --secondary-foreground-color: #00feff;
  --terciary-foreground-color: #bdbdbd;

  --small-text-size: 18px;
  --nav-text-size: 20px;
  --medium-text-size: 22px;
  --larger-text-size: 35px;
  --large-text-size: 40px;
  --xl-text-size: 80px;

  --global-padding: 8em;
}
