:root {
  --primary-background-color: #171718;
  --secondary-background-color: #1e1e1e;
  --terciary-background-color: #212121;

  --highlight-color: #484848;

  --primary-foreground-color: #ff3a6f;
  --secondary-foreground-color: #00feff;
  --terciary-foreground-color: #bdbdbd;

  --small-text-size: 18px;
  --nav-text-size: 20px;
  --medium-text-size: 22px;
  --larger-text-size: 35px;
  --large-text-size: 40px;
  --xl-text-size: 80px;

  --global-padding: 200px;

  @media (max-width: 1700px) {
    --global-padding: 150px;
  }
  @media (max-width: 1410px) {
    --global-padding: 100px;
  }
  @media (max-width: 1100px) {
    --global-padding: 50px;
  }
}
